@borderLine:#CBCBCB;
@borderLineHover: #c0c4cc;
@borderLineFocus: #409EFF;
@tipsColor: #CC0000;
@textColor:#818181;
@primaryColor:#005192;
@backGroundColor: #FFFFFF;
@boldTextColor:#3B3B3B;
@menuHoverBgColor: 	#FBF8F8;
@poliyItemColor: #3895F1;
@applyItemBgColor: #F9FBFC;
@contentBoxColor: #DCDFE6;

@successColor: #67c23a;
@textWhite: #FFFFFF;
@menuActiveBgColor: #FBF8F8;
@menuDefaultTextColor: #676767;
@labelText: #9E9E9E;
@defaultTextColor: #000000;
@defaultBorderColor: #EBEBEB;
@mainContentBgColor: #FBFBFB;

@elMainBgColor: #FBFBFB;
@mainContentBgColor: #FFFFFF;
@labelColor: #676767;
@filterItemColor: #9E9E9E;
@filterItemActiveBg: #F53F66;
@filterItemActiveTextColor: #FFFFFF;
